<p>
  <strong>Number: </strong>
  <%= @train.number %>
</p>
<p>
  <strong>Route: </strong>
  <% if @train.route %>
    <%= @train.route.title %>
  <% else %>
    Not specified
  <% end %>
</p>
<p>
  <strong>Station: </strong>
  <% if @train.current_station %>
    <%= @train.current_station.title %>
  <% else %>
    Not specified
  <% end %>
</p>
<div>
  <strong>Carriages<br></strong>
<ul style="list-style: none">
  <% @train.carriages_ordered.each_with_index do |carriage| %>
    <li>
      <%= link_to "#{carriage.number} #{carriage.type}", carriage_path(carriage) %>
    </li>
  <% end %>
</ul>
</div>


<%= link_to 'New Carriage', new_train_carriage_path(@train) %> <br>
<%= link_to 'Tickets list', train_tickets_path(@train) %> <br>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
