<p id="notice"><%= notice %></p>

<p>
  <strong>Number: </strong>
  <%= @train.number %>
</p>
<p>
  <strong>Route: </strong>
  <% if @train.route %>
    <%= @train.route.title %>
  <% else %>
    Not specified
  <% end %>
</p>
<p>
  <strong>Station: </strong>
  <% if @train.current_station %>
    <%= @train.current_station.title %>
  <% else %>
    Not specified
  <% end %>
</p>
<p>
  <strong>Carriages<br></strong>
  <% if @train.carriages %>
      <p>
        <strong>Lux: </strong>
        <%= @train.carriages.where(kind: :lux).count %> <br>
        Seats count: Top = <%= @train.all_top_seats :lux %> Bottom = <%= @train.all_bottom_seats :lux %>
      </p>
      <p>
        <strong>Economy: </strong>
        <%= @train.carriages.where(kind: :economy).count %> <br>
        Seats count: Top = <%= @train.all_top_seats :economy %> Bottom = <%= @train.all_bottom_seats :economy %>
      </p>
  <% else %>
    Not specified
  <% end %>
</p>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
