<h1>Greetings, Traveler!</h1>
<%= link_to 'Stations list', railway_stations_path %> <br>
<<<<<<< HEAD
<%= link_to 'Trains list', trains_path %> <br>
<%= link_to 'Routes list', routes_path %> <br>
<%= link_to 'Carriage list', carriages_path %>
=======
<%= link_to 'Trains list', trains_path %>
>>>>>>> using scaffold for creating CRUD for railway_stations and trains
