<tr>
  <td><%= ticket.route_title %></td>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.user.name %></td>
  <td><%= link_to 'Show', ticket %></td>
  <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>