<%= form_with scope: :ticket, url: train_tickets_path do |form| %>
  <% render 'common/error', resource: @ticket%>

  <div class="field">
    <%= form.hidden_field :train_id, value: params[:train_id] %>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit :Buy %>
  </div>
<% end %>
