<h2><%= "Ticket # #{@ticket.id} for train # #{@ticket.train.number}" %></h2>
<table>
  <tr>
    <td>Passenger:</td>
    <td><%= @ticket.user.name %></td>
  </tr>
  <tr>
    <td>Route:</td>
    <td><%= @ticket.route_title %></td>
  </tr>
  <tr>
    <td>Departure:</td>
    <td> <%= @ticket.train.route.railway_stations.first.title %> at
      <%= @ticket.train.route.railway_stations.first.time_out(@ticket.train.route) %> </td>
  </tr>
  <tr>
    <td>Arriving:</td>
    <td><%= @ticket.train.route.railway_stations.last.title %> at
      <%= @ticket.train.route.railway_stations.last.time_in(@ticket.train.route) %></td>
  </tr>
</table>
<%= link_to 'Back', tickets_path %>