<p id="notice"><%= notice %></p>

<p><strong><%= @carriage.type %></strong></p>

<p>
  <strong>Number:</strong>
  <%= @carriage.number %>
</p>

<% if @carriage.top_seats %>
  <p>
    <strong>Top Seats</strong>
    <%= @carriage.top_seats %>
  </p>
<% end %>
<% if @carriage.bottom_seats %>
  <p>
    <strong>Bottom Seats</strong>
    <%= @carriage.bottom_seats %>
  </p>
<% end %>
<% if @carriage.side_top_seats %>
  <p>
    <strong>Side Top Seats</strong>
    <%= @carriage.side_top_seats %>
  </p>
<% end %>
<% if @carriage.side_bottom_seats %>
  <p>
    <strong>Side Bottom Seats</strong>
    <%= @carriage.side_bottom_seats %>
  </p>
<% end %>
<% if @carriage.seating %>
  <p>
    <strong>Seating Seats</strong>
    <%= @carriage.seating %>
  </p>
<% end %>
<%= link_to 'Back', train_path(@carriage.train) %>