<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>
<<<<<<< HEAD
<p>
  <strong>Trains:</strong>
  <% if @railway_station.trains.empty? %>
    Not specified
  <% else %>
    <% @railway_station.trains.each do |train| %>
    <ul>
      <li><%= train.number %></li>
    </ul>
  <% end %>
<% end %>
</p>
=======
>>>>>>> using scaffold for creating CRUD for railway_stations and trains

<%= link_to 'Edit', edit_railway_station_path(@railway_station) %> |
<%= link_to 'Back', railway_stations_path %>
