<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Stations:</strong>
  <% if @route.railway_stations.empty? %>
    Not specified
  <% else %>
    <% @route.railway_stations.ordered.each do |railway_stations| %>
    <ul>
      <li><%= railway_stations.title %></li>
    </ul>
  <% end %>
<% end %>
</p>

<p>
  <strong>Trains:</strong>
  <% if @route.trains.empty? %>
    Not specified
  <% else %>
    <% @route.trains.each do |train| %>
    <ul>
      <li><%= train.number %></li>
    </ul>
  <% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
