<%= form_with(model: [:admin, @train]) do |form| %>
  <%= render 'common/error', resource: @train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :current_station %>
    <%= form.collection_select :railway_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :route %>
    <%= form.collection_select :route_id, Route.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :reverse %>
    <%= form.select :reverse, [true, false]%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
