<p>
  <strong>Number: </strong>
  <%= @train.number %>
</p>
<p>
  <strong>Route: </strong>
  <% if @train.route %>
    <%= @train.route.title %>
  <% else %>
    Not specified
  <% end %>
</p>
<p>
  <strong>Station: </strong>
  <% if @train.current_station %>
    <%= @train.current_station.title %>
  <% else %>
    Not specified
  <% end %>
</p>
<div class="container">
  <h4>Carriages</h4>
  <div class="list-group list-group-flush mb-3 mt-3">
    <% @train.carriages_ordered.each_with_index do |carriage| %>
      <%= button_to "#{carriage.number} #{carriage.type}", admin_carriage_path(carriage), method: :get,
                    class: 'list-group-item list-group-item-action' %>
    <% end %>
  </div>
</div>


<%= link_to 'New Carriage', new_admin_train_carriage_path(@train) %> <br>
<%= link_to 'Edit', edit_admin_train_path(@train) %> |
<%= link_to 'Back', admin_trains_path %>
