<!DOCTYPE html>
<html>
<head>
  <title>Ukrzaliznytsia</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="d-flex flex-column h-100">

<header class="p-3">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <%= link_to :Ukrzaliznytsia, search_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Tickets list', tickets_path, class: 'nav-link' %>
            </li>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to 'Admin panel', root_path, class: 'nav-link' %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <div class="navbar-text">Hello, <%= current_user.name %></div>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<!-- Page content -->
<main class="mt-5">
  <div class="container">
    <% flash.each do |type, msg| %>
      <% if type == "notice" %>
        <div class="alert alert-success "><%= msg %></div>
      <% elsif type == "alert" %>
        <div class="alert alert-danger "><%= msg %></div>
      <% else %>
        <div class='alert alert-<%= "#{type}" %>'><%= msg %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</main>

<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">&copy; Bohdan Popovych 2022</span>
  </div>
</footer>
</body>
</html>
